*.mdb
*.old
result[1234567890]*/
data/
LRR/
*.bak
*.tmp
*.log
combined_*.c
*.ci
TransactionsData.db
*.idx
*.c.pickle
*.sdf
custom_body_variables.txt
logfile.log
mdrv.log
mdrv_cmd.txt
options.txt
output.txt
ThumbnailsCache.tmp